body{
  background-color:aliceblue;
  display: grid;
  font-family: Arial, Helvetica, sans-serif;
  }
  .container{
      display: grid;
      justify-self: center;
      justify-items: center;
      padding-top:5em;
      grid-row-gap: 1em;
  }
  .items{
      display: grid;
      grid-row-gap:1em;
  }

  /* .container1{
    display: grid;
    grid-template-columns: 1fr,1fr;
  } */
  button{
      width:40em;
      height:100%;
      padding:1em;
      color: dodgerblue;
      background: white;
      border:none;
      border-radius: 0.5em;
      border:0.1em solid #bcdffd;
      text-align: start;
  }
  :focus{
      outline-color: dodgerblue;
      border:none;
  }
  label{
      font-size:1.5em;
      color:darkgray;
  }
  .checkItems{
      display: grid;
      grid-template-columns: 5% 80% 15%;
      justify-items: center;
      padding-left: 4em;
  }
  input[type=checkbox]{
      position:absolute; z-index:-1000; 
      left:-1000px; overflow: hidden; 
      clip: rect(0 0 0 0); height:1px; 
      width:1px; margin:-1px; 
      padding:0; 
      border:0;
  }
  input[type=checkbox] + .css-label {
      padding-left:35px;
      height:30px; 
      display:inline-block;
      line-height:30px;
      background-repeat:no-repeat;
      background-position: 0 0;
      font-size:30px;
      vertical-align:middle;
      cursor:pointer;
  }
  input[type=checkbox]:checked + .css-label {
      background-position: 0 -30px;
  }
  .css-label {
  background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_f60067e68146be412873f96f1d2458cd.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  }
  .checkItem{
      padding-left:1em;
      overflow: hidden;
      max-width:25em;
      color: dodgerblue;
  }
  .btn{
      justify-self: start;
      padding-left:4em;
  }
  .listLabel{
      justify-self: start;
      padding-left: 2.5em;
  }
  .strike{
      text-decoration: line-through;
  }
  
 a{
   color: dodgerblue;
   text-decoration: none; 
 }